<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <!--/*@thymesVar id="info" type="java.lang.String"*/-->
    <div th:if="${info} eq '参数错误'">
        参数错误
    </div>

    <div th:if="${info} eq '密码错误'">
        <div>密码错误</div>
    </div>

    <div th:if="${info} eq '登录成功'">
        <!--/*@thymesVar id="user" type="cn.mayun.book.model.User"*/-->
        <div th:text="${user.name}">用户名</div>
    </div>

</body>
</html>